@page "/work-space"

<PageTitle>Untitled project</PageTitle>


<div class="row bg-primary border-end top-toolbar">
    <h3><span><img src="/icon-192.png" alt="" site logo /></span>Untitled document</h3>
    <nav class="top-menu">
        <ul>
            <li>
                <div class="dropdown show">
                    <button class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File <span class="oi oi-file"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">New document</a>
                        <a class="dropdown-item" href="#">Save</a>
                        <a class="dropdown-item" href="#">Exportations</a>
                    </div>
                </div>
            </li>
            <li><button class="btn btn-outline-secondary">Save <span class="oi oi-hard-drive"></span></button></li>
            <li><button class="btn btn-secondary">Export as PNG <span class="oi oi-data-transfer-download"></span></button></li>
            <li><button class="btn btn-secondary">Export as SVG <span class="oi oi-data-transfer-download"></span></button></li>
            <li><button class="btn btn-secondary">Export as PDF <span class="oi oi-data-transfer-download"></span></button></li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-2 bg-warning aside">tools</div>
    <div class="col-10 bg-info">Main content</div>
</div>

